<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>693861828534-8pbttaup2rv3ma78g57d9rj30argdc87.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.693861828534-8pbttaup2rv3ma78g57d9rj30argdc87</string>
	<key>API_KEY</key>
	<string>AIzaSyB-Onu42sq0i3i_im7Q0tcsHXM6OibKWWU</string>
	<key>GCM_SENDER_ID</key>
	<string>693861828534</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mychat</string>
	<key>PROJECT_ID</key>
	<string>mychat-6e0b8</string>
	<key>STORAGE_BUCKET</key>
	<string>mychat-6e0b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:693861828534:ios:f9c172cce45932334ba317</string>
</dict>
</plist>